<a href="https://colab.research.google.com/github/BhanuSaketh/PySpark/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Loading**

In [ ]:
import pyspark

In [ ]:
import pandas as pd
df=pd.read_csv('test1.csv')
type(df)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("Practise").getOrCreate()

In [ ]:
spark

In [ ]:
df_spark=spark.read.option('header','true').csv("test1.csv",inferSchema=True)
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_spark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ram| 30|        10|
|Sita| 31|         8|
|Hanu| 29|         4|
+----+---+----------+

In [ ]:
df_spark.head(3)

[Row(Name='Ram', Age=30, Experience=10),
 Row(Name='Sita', Age=31, Experience=8),
 Row(Name='Hanu', Age=29, Experience=4)]

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_spark.columns

['Name', 'Age', 'Experience']

In [ ]:
df_spark.select("Name","Experience").show()

+----+----------+
|Name|Experience|
+----+----------+
| Ram|        10|
|Sita|         8|
|Hanu|         4|
+----+----------+

In [ ]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

**Data Preprocessing**

In [ ]:
df_spark.describe().show()

+-------+----+----+-----------------+
|summary|Name| Age|       Experience|
+-------+----+----+-----------------+
|  count|   3|   3|                3|
|   mean|NULL|30.0|7.333333333333333|
| stddev|NULL| 1.0|3.055050463303893|
|    min|Hanu|  29|                4|
|    max|Sita|  31|               10|
+-------+----+----+-----------------+

In [ ]:
df_spark=df_spark.withColumn("Experience After 2 years",df_spark["Experience"]+2)

In [ ]:
df_spark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience After 2 years|
+----+---+----------+------------------------+
| Ram| 30|        10|                      12|
|Sita| 31|         8|                      10|
|Hanu| 29|         4|                       6|
+----+---+----------+------------------------+

In [ ]:
df_spark=df_spark.drop("Experience After 2 years")

In [ ]:
df_spark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ram| 30|        10|
|Sita| 31|         8|
|Hanu| 29|         4|
+----+---+----------+

In [ ]:
df_spark.withColumnRenamed("Name","New Name").show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|     Ram| 30|        10|
|    Sita| 31|         8|
|    Hanu| 29|         4|
+--------+---+----------+

In [1]:
print("HLO world")

HLO world